body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
}



.header {
    background: #0001;
}

/* Inside header */
.sponsor-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 2px solid #aaa;
}

.navigation-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.navigation {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.navigation-item {
    display: inline-block;
    padding: 15px 25px;
}

.navigation-item-link {
    text-decoration: none;
    color: rgb(6, 192, 0);

}

/* Article */
.main-promo-container {
    /* background-color: blue; */
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

/* image */
.main-promo-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
}

/* text */
.main-promo-text {
    padding: 1em;
    margin: 0;

    max-width: 60%;

    color: #ccc;
    font-weight: bold;
    font-size: 3em;

    text-align: right;
}

.promo-text-vector {
    display: inline;
    height: 1em;
    width: 1em;
}

.text-promo-emphasis {
    color: #fff;

}

/* footer */
.secondary-promo-container {
    display: block;
}